.center_column {
	text-align: center;
}

.trash_column {
	width: 30px;
}

/* Make sure the card quantity field doesn't get too big */
.react-numeric-input input {
	max-width: 50px;
	text-align: center;
}
